h1{
    color: brown;
    background-color: #f0e68c;
}
p style  {
    color: hwb(90 25% 20%);
}
.h1{
    color: grey;
}
#h2{
    color: 
    rgb(4, 37, 66);
}
footer{
    color: white;
}
h1{
    background-color: aqua;
}
