.h1{
 color:#116d6d  ;
 background-color: #ff0077; 
 front size: color: border: margin: ;;;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: greenyellow;
}
p{
    id=001 color: background-color: color: color: position: font-family: font-size: font-size: ;;;;;;;

}
<h1>hello
head{
    background-image:url(abc.jfif);
}
body .h1{
    height: 150px;
    weight: 150px;
}
